.bold2-font {
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
  color: green;
  font-size: 50px;
}

.light2-font {
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  color: blue;
  font-size: 50px;
}
